.chat {
  position: relative;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  flex:4;
}

.inputbox {
  background-color: gray;
  display: flex;
  height: 50px;
}

.inputbox .label1 {
  font-size: 1.5em;
  text-align: right;
}

.inputbox .text {
  font-size: 1em;
  padding-left: 8px;
  padding-right: 8px;
  flex: 1;
}

.inputbox .button {
  font-size: 1em;
  min-width: 40px;
}

// ---------------------- Chatbox component --------------------
.chatbox1 {
  flex: 1;
  background-color: silver;
  overflow: auto;
}

.chatbox-item{
  transition: top 1s opacity 1s display 1s width 1s height 1s;

  &.left{
    text-align: left;
    margin-left: $margin-default;
  }

  &.right{
    text-align: right;
    margin-right: $margin-default;
  }

  .avatar {
    display: inline-block;
  }
}
